img {
    width: 100%;
    height: auto;
}

.container, 
header {
    display: flex;
    flex-wrap: wrap;
    color: #2d3c49;
    font-family: "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
p {
    margin: 0; 
    font-weight: normal;
}

/*Header*/
.logo {
    width: 10vmin;
    height: 10vmin;
    margin: 5vh 2vw 1vh;
}

.header-text {
    text-align: right;
    margin-top: 3vh;
}

header h1{
    font-size: 3em;
    font-weight: lighter;
}

header p {
    font-size: 1.3em;
    font-weight: bold;
    margin: -.8em 0 .8em;
}

header {
    border-bottom: .3em solid #7d97ad;
    margin-bottom: 3vh;
}

/*jumbotron*/
.jumbotron {
    text-align: center;
}

.jumbotron img{
    width: 100%;
}


/*main*/
main {
    margin-top: 3vh;
}

main .container {
    text-align: center;
}

picture {
    margin: .2em;
}

main h3 {
    color: #7d97ad;
    font-size: 1.8em;
    margin-left: 1em;  
}

main h2 {
    font-weight: bold;
    font-size: 1.5em;
}

main a {
    text-decoration: none;
    font-size: .7em;
}