@media screen and (max-width: 587px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 20%;
    }

    .header-text {
        width: 80%;
    }

    header h1 {
        font-size: 1.5em;
        font-weight: lighter;
        margin: 0;
    }

    header p {
        font-size: 1em;
    }

    main {
        display: inline;
        text-align: center;
    }

    .works {
        width: 100%;
        margin-left: auto ;
        margin-right: auto ;
    }
}

@media screen and (min-width: 588px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }
    
    header h1 {
        font-size: 2em;
        font-weight: lighter;
    }

    header p {
        font-size: 1.5em;
        margin-top: .002em;
    }

    main {
        width: 100vmin;
    }
}

@media screen and (min-width: 656px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }

    header {
        font-size: 1em;
    }

    .works img {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }

    main {
        width: 100%;
    }

    .works {
        width: 33.3333333%;
    }

    .works img {
        width: 100%;
    }

    body {
        width: 730px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 930px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .header-logo {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }

    main {
        width: 100%;
    }

    .works {
        width: 33.3333333%;
    }

    .works img {
        width: 100%;
    }

    body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1150px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    
    .content {
        width: 100%;
    }

    header {
        display: flex;
        flex-wrap: wrap;
    }

    .heade-logo {
        width: 50%;
    }

    .header-text {
        width: 50%;
    }

    main {
        width: 100%;
    }

    .works {
        width: 33.3333333%;
    }

    .works img {
        width: 100%;
    }

    body {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}